<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>LifeWork</title>
    <!-- Font Awesome -->
    <link href="https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.11/css/mdb.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <!-- Template styles -->
    <style rel="stylesheet">
        /* TEMPLATE STYLES */

        main {
            padding-top: 3rem;
            padding-bottom: 2rem;
        }

        .extra-margins {
            margin-top: 1rem;
            margin-bottom: 2.5rem;
        }

        .jumbotron {
            text-align: center;
        }

        .navbar {
            background-color: #274e68;
        }

        footer.page-footer {
            background-color: #274e68;
            margin-top: 2rem;
        }

        .navbar .btn-group .dropdown-menu a:hover {
            color: #000 !important;
        }

        .navbar .btn-group .dropdown-menu a:active {
            color: #fff !important;
        }

        @media screen and (max-width:600px){
                #contactform{
                        float: left !important;
                        width: 100% !important;
}
        }
       
    </style>

</head>

<body>
    <main>

        <!--Main layout-->
        <div class="container">
            <!--First row-->
            <div class="row wow fadeIn" data-wow-delay="0.2s">
                <div class="col-xl-12">
                    <!--Card-->
                    <div class="card">
                        <!--Card image-->
                        <div class="view overlay hm-white-slight">
                            <q class="card-text" style="font-family: 'Sorts Mill Goudy', serif;font-size:35px;text-align:center;justify-content:center;padding-left:10px;">
                                We take the hassle out of hiring freelance workers.
                                With a short consultation you can get back to your hectic job safe in the knowledge
                                that the task you specified will be completed to a high quality by the deadline you
                                specified.
                            </q>
                            <center><img src="/works.png" class="img-fluid" alt=""></center>
                            <a href="#">
                                <div class="mask"></div>
                            </a>
                        </div>
                        <!--Card content-->
                        <div class="card-body text-center mb-3">

                            <!--Title-->
                            <h3 class="card-title mt-2 pb-4">
                                <strong>How It Works?</strong>
                            </h3>
                            <!--Text-->
                            <p class="card-text" style="font-size:15px;">LifeWork is the on-demand freelance work
                                service that provides a seamless customer experience whilst liberating the freelance
                                workforce. The freelance economy is dominated by marketplaces that exploit freelancers
                                and leave customers wasting hours of their own time in return for poor quality output.
                                With flexible work becoming the dominant means of task completion, there is desperate
                                need for a new model.
                                We believe that LifeWork is the answer.
                            </p>
                            <p class="card-text" style="font-size:15px;">LifeWork is an intermediary between customers
                                and freelancers that actively rectifies the problems that occur on marketplaces when
                                the two parties are forced to interact directly with one another.</p>
                        </div>

                    </div>
                    <!--/.Card-->
                </div>
            </div>
            <!--/.First row-->

            <!--Second row-->
            <div class="row mt-5 pt-4">
                <!--First columnn-->
                <div class="col-lg-4">
                    <!--Card-->
                    <div class="card mb-r wow fadeIn" data-wow-delay="0.2s">

                        <!--Card image-->
                        <img class="img-fluid" src="./../laptop.jpg" alt="Card image cap">

                        <!--Card content-->
                        <div class="card-body">
                            <!--Title-->
                            <h4 class="card-title">
                                <strong>Why not to use a marketplace?</strong>
                            </h4>
                            <!--Text-->
                            <p class="card-text">To understand the genius of LifeWork you need to understand the myriad
                                problems of freelance marketplaces. Customers
                                waste hours posting a job and screening the hundreds of freelancers that apply before
                                frequently selecting the cheapest
                                one because they often don't know any better. Management of the project absorbs much
                                more time than initially expected
                                due to miscommunication and a knowledge gap between the freelancer and the customer.
                                The final output is often poor
                                quality, requiring the customer to pay to get it improved or spend time rectifying it
                                themselves.</p>
                        </div>

                    </div>
                    <!--/.Card-->
                </div>
                <!--First columnn-->

                <!--Second columnn-->
                <div class="col-lg-4">
                    <!--Card-->
                    <div class="card mb-r wow fadeIn" data-wow-delay="0.4s">

                        <!--Card image-->
                        <img class="img-fluid" src="./../img2.jpg" alt="Card image cap">

                        <!--Card content-->
                        <div class="card-body">
                            <!--Title-->
                            <h4 class="card-title">
                                <strong>For the customer</strong>
                            </h4>
                            <!--Text-->
                            <p class="card-text">LifeWork requires minimal input from our customers to get digital
                                freelance work done. A one hour consultation with an
                                expert LifeWork project manager is all that's needed to fully understand your project,
                                and you will receive a quote for
                                the work within 24 hours. LifeWork will select the best person for the job and manage
                                the work from start to finish. If
                                the work needs no check-in milestones then you can go back to your day job and your
                                output will arrive by the deadline,
                                otherwise short check-in video meetings will be held so you can have your input on the
                                ongoing work.LifeWork quality guarantee - if the output doesn't
                                meet the requirements then we'll
                                rework it so that it does.</p>
                        </div>

                    </div>
                    <!--/.Card-->

                </div>
                <!--Second columnn-->

                <!--Third columnn-->
                <div class="col-lg-4">
                    <!--Card-->
                    <div class="card wow fadeIn" data-wow-delay="0.6s">

                        <!--Card image-->
                        <img class="img-fluid" src="./../img1.png" alt="Card image cap">

                        <!--Card content-->
                        <div class="card-body">
                            <!--Title-->
                            <h4 class="card-title">
                                <strong>For the freelancer</strong>
                            </h4>
                            <!--Text-->
                            <p class="card-text">LifeWork aims to be the best place to work. Period.

                                Freelancers join the network and are informed of the flow of work coming into the
                                platform to know what work to expect.
                                Freelancers will receive work requests that they can be confident meet their
                                preferences - they would have been
                                selected by an expert project manager with AI assistance. The freelancer then works
                                within the structure of templates
                                and milestones set out by the PM but still with a large degree of freedom. The project
                                managers are responsible for
                                ensuring quality meaning that LifeWork guarantees payment to the freelancer even if the
                                customer is unhappy with the
                                final deliverable. Feedback between the PM and freelancer ensure that both people
                                continue to grow.</p>
                        </div>

                    </div>
                    <!--/.Card-->
                </div>
                <!--Third columnn-->
            </div>
            <!--/.Second row-->




        </div>
        <!--/.Main layout-->

    </main>

    <!--Footer-->
    <footer class="page-footer center-on-small-only">

        <!--Footer links-->
        <div class="container">
            <div class="row mt-4">
                <!--First column-->
                <div class="col-lg-3 col-md-6">
                    <h5 class="title mb-3">
                        <strong>About Us</strong>
                    </h5>
                    <p>LifeWork is an on-demand freelance work service that is on a mission to redefine work by putting
                        life first. In a
                        freelance economy dominated by broken marketplaces, LifeWork offers a seamless customer
                        experience whilst liberating
                        the freelance workforce.</p>
                </div>
                <!--/.First column-->
                <hr class="w-100 clearfix d-sm-none">
                <!--Second column-->
                <div class="col-lg-9 col-md-6">
                    <div class="card near-moon-gradient form-white" id="contactform" style="float:right;width:70%;height:0%"
                        ;>
                        <div class="card-body">
                            <!-- Form subscription -->
                            <form method="POST" action="/users/contactus">
                                <h3 class="text-center white-text font-bold py-4"><strong>Contact Us</strong></h3>
                                <div class="md-form">
                                    <i class="fa fa-user prefix white-text"></i>
                                    <input type="text" id="name" name="name" class="form-control" required style="color: white;">
                                    <label for="
                                        form35">Name</label>
                                </div>
                                <div class="md-form">
                                    <i class="fa fa-envelope prefix white-text"></i>
                                    <input type="text" id="email" name="email" class="form-control" required style="color: white;">
                                    <label for="form25">Email</label>
                                </div>
                                <div class="text-center py-4">
                                    <button class="btn btn-indigo">Send <i class="fa fa-paper-plane-o ml-1"></i></button>
                                </div>
                            </form>
                            <!-- Form subscription -->
                        </div>
                    </div>
                </div>
            </div>
            <!--/.Fourth column-->
        </div>
        <!--/.Footer links-->

        <hr>



        <!--Call to action-->
        <center>
            <!--Call to action-->
            <div class="call-to-action">
                <ul>
                    <h4 class="mb-5">Get In Touch With Us</h4>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://www.facebook.com/LifeWorkOnline/"><i class="fa fa-facebook-square"
                            style="font-size:24px"></i></a>&nbsp;&nbsp;&nbsp;
                    <a href="https://twitter.com/LifeWorkOnline">
                        <i class="fa fa-twitter-square" style="font-size:24px"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="http://instagram.com/lifeworkonline">
                        <i class="fa fa-instagram" style="font-size:24px"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="https://www.linkedin.com/company/lifeworkonline/">
                        <i class="fa fa-linkedin-square" style="font-size:24px"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="mailto:david@lifeworkonline.com">
                        <i class="fa fa-envelope" style="font-size:24px"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </ul>
                <ul><h6 class="mb-5" id="textname">Powered By Jigar & Aditya</h6></ul>
        </center>
        <!--/.Call to action-->
        <!--Copyright-->
        <div class="footer-copyright" style="float:left;">
            <div class="container-fluid">
                © 2018 Copyright
                <a href="https://www.lifeworkonline.com"> LifeWork </a>
            </div>
        </div>
        <!--/.Copyright-->
    </footer>
    <!--/.Footer-->


    <!-- SCRIPTS -->

    {{!--
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="js/mdb.min.js"></script> --}}

    <script>
        new WOW().init();
    </script>

</body>
<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.11/js/mdb.min.js"></script>

</html>