<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/material.min.css">
  <script src="/js/material.min.js"></script>

  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.purple-deep_purple.min.css" />
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script defer src="https://code.getmdl.io/1.1.3/material.min.js">   </script>
  <title></title>
</head>

<body style="overflow-y:scroll; background-image: url('../../bg-register.jpg');">
  <div style="margin-top:15px;height:512px !important;overflow-y:auto" class="demo-card-wide mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Welcome</h2>
    </div>

    <div class="mdl-card__actions mdl-card--border">
      <form action="/users/register" method="post">
        <i class="material-icons mdl-textfield__label__icon">face</i>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">

          <input class="mdl-textfield__input" type="text" name="name" id="Name">
          <label class="mdl-textfield__label" for="Name" id="namelab">Name</label>
          <!-- <div class="mdl-layout-spacer"></div> -->

        </div><br>

        <i class="material-icons mdl-textfield__label__icon">email</i>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">

          <input class="mdl-textfield__input" type="email" name="email" id="Email">
          <label class="mdl-textfield__label" for="Name" id="emaillab">Email</label>
          <span class="mdl-textfield__error">Email invalid!</span>
          <!-- <div class="mdl-layout-spacer"></div> -->

        </div><br>

        <i class="material-icons mdl-textfield__label__icon">lock</i>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">

          <input class="mdl-textfield__input" type="password" name="password" id="Password">
          <label class="mdl-textfield__label" for="Name" id="passwordlab">Password</label>
          <!-- <span class="mdl-textfield__error">Input is not a number!</span> -->
          <!-- <div class="mdl-layout-spacer"></div> -->

        </div><br>

        <i class="material-icons mdl-textfield__label__icon">phone</i>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">

          <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" name="phone" id="abcccdd">
          <label class="mdl-textfield__label" for="Name" id="abc">Phone</label>
          <span class="mdl-textfield__error">Input is not a number!</span>
          <!-- <div class="mdl-layout-spacer"></div> -->

        </div><br>

        <center><table>
          <tr>
            <td>
              <label class="mdl-radio mdl-js-radio" for="option5" style="margin-top:30px;">
                <input type="radio" id="option5" name="types" class="mdl-radio__button" value="client" checked>
                <span class="mdl-radio__label">Client</span>
              </label>
            </td>

            <td>
              <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option6" style="margin-top:30px;">
                <input type="radio" id="option6" name="types" class="mdl-radio__button" value="freelancer">
                <span class="mdl-radio__label">FreeLancer</span>
              </label>
            </td>
            <td>
              <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option7" style="margin-top:30px;">
                <input type="radio" id="option7" name="types" class="mdl-radio__button" value="pm">
                <span class="mdl-radio__label">Project Manager</span>
              </label>
            </td>
          </tr>
        </table></center>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" name="pmselected" id="pmselected"
          style="display:none; margin-top:10px;">
          <label class="mdl-textfield__label" for="Name" id="pmlab">PM Number</label>
          <input class="mdl-textfield__input" type="text" id="pmnumber" name="pmnumber">
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" name="flselected" id="flselected"
          style="display:none; margin-top:10px;">
          <label class="mdl-textfield__label" for="Name" id="fllab">Your Skills</label>
          <input class="mdl-textfield__input" type="text" id="skills" name="skills">
        </div>
        <center><button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
            style="margin-top:20px;">
            Register
          </button></center>

      </form>
    </div>
    <!-- <div class="mdl-card__menu">
    <button class="mdl-button mdl-button-icon mdl-js-button mdl-js-ripple-effect">
      <i class="material-icons">share</i>
    </button>
  </div> -->
  </div>
</body>
<script>
  $("input[type='radio']").change(function () {

    if ($(this).val() == "pm") {
      $("#pmselected").show();
    }
    else {
      $("#pmselected").hide();
    }

  });

  $("input[type='radio']").change(function () {

    if ($(this).val() == "freelancer") {
      $("#flselected").show();
      $(this).prop('required', true);
    }
    else {
      $("#flselected").hide();
    }

  });

  $(window).load(function () {
    // $('input[data-required=true]').attr('required', true);
    $(".mdl-textfield__input").blur(function () {
      if (!this.value) {
        $(this).prop('required', false);
        $(this).parent().addClass('is-invalid');
      }
    });
    $(".mdl-button[type='submit']").click(function (event) {

      $(this).siblings(".mdl-textfield").addClass('is-invalid');
      $(this).siblings(".mdl-textfield").children(".mdl-textfield__input").prop('required', false);
      $("#pmnumber").removeClass("is-invalid")
      $("#skills").removeClass("is-invalid")
    })
  });
</script>
{{!--
<script src="/js/script.js"></script> --}}

</html>